BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "seg_led_h[0]" SITE "A10" ;
LOCATE COMP "seg_led_h[1]" SITE "C11" ;
LOCATE COMP "seg_led_h[2]" SITE "F2" ;
LOCATE COMP "seg_led_h[3]" SITE "E1" ;
LOCATE COMP "seg_led_h[4]" SITE "E2" ;
LOCATE COMP "seg_led_h[5]" SITE "A9" ;
LOCATE COMP "seg_led_h[6]" SITE "B9" ;
LOCATE COMP "seg_led_h[7]" SITE "F1" ;
LOCATE COMP "seg_led_h[8]" SITE "C9" ;
LOCATE COMP "seg_led_l[0]" SITE "C12" ;
LOCATE COMP "seg_led_l[1]" SITE "B14" ;
LOCATE COMP "seg_led_l[2]" SITE "J1" ;
LOCATE COMP "seg_led_l[3]" SITE "H1" ;
LOCATE COMP "seg_led_l[4]" SITE "H2" ;
LOCATE COMP "seg_led_l[5]" SITE "B12" ;
LOCATE COMP "seg_led_l[6]" SITE "A11" ;
LOCATE COMP "seg_led_l[7]" SITE "K1" ;
LOCATE COMP "seg_led_l[8]" SITE "A12" ;
LOCATE COMP "leds[0]" SITE "N13" ;
LOCATE COMP "leds[1]" SITE "M12" ;
LOCATE COMP "leds[2]" SITE "P12" ;
LOCATE COMP "leds[3]" SITE "M11" ;
LOCATE COMP "leds[4]" SITE "P11" ;
LOCATE COMP "leds[5]" SITE "N10" ;
LOCATE COMP "leds[6]" SITE "N9" ;
LOCATE COMP "leds[7]" SITE "P9" ;
LOCATE COMP "rgb1[0]" SITE "M2" ;
LOCATE COMP "rgb1[1]" SITE "N2" ;
LOCATE COMP "rgb1[2]" SITE "P2" ;
LOCATE COMP "rgb2[0]" SITE "P4" ;
LOCATE COMP "rgb2[1]" SITE "N3" ;
LOCATE COMP "rgb2[2]" SITE "M3" ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "keys[0]" SITE "L14" ;
LOCATE COMP "keys[1]" SITE "M13" ;
LOCATE COMP "keys[2]" SITE "M14" ;
LOCATE COMP "keys[3]" SITE "N14" ;
LOCATE COMP "switches[0]" SITE "M7" ;
LOCATE COMP "switches[1]" SITE "M8" ;
LOCATE COMP "switches[2]" SITE "M9" ;
LOCATE COMP "switches[3]" SITE "M10" ;
LOCATE COMP "pclk" SITE "C1" ;
IOBUF PORT "keys[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "keys[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "keys[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "keys[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "switches[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "switches[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "switches[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "switches[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "pclk" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb1[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb1[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb1[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb2[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb2[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb2[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_h[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_h[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_h[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_h[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_h[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_h[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_h[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_h[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_h[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_l[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_l[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_l[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_l[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_l[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_l[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_l[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_l[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_l[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "DATA[7]" SITE "C8" ;
LOCATE COMP "DATA[6]" SITE "B8" ;
LOCATE COMP "DATA[5]" SITE "E3" ;
LOCATE COMP "DATA[4]" SITE "F3" ;
LOCATE COMP "DATA[3]" SITE "G3" ;
LOCATE COMP "DATA[2]" SITE "H3" ;
LOCATE COMP "DATA[1]" SITE "J2" ;
LOCATE COMP "DATA[0]" SITE "J3" ;
IOBUF PORT "DATA[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "DATA[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "DATA[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "DATA[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "DATA[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "DATA[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "DATA[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "DATA[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "ADDR[0]" SITE "H12" ;
LOCATE COMP "ADDR[1]" SITE "G14" ;
LOCATE COMP "ADDR[2]" SITE "G13" ;
LOCATE COMP "ADDR[3]" SITE "F14" ;
LOCATE COMP "ADDR[4]" SITE "F13" ;
LOCATE COMP "ADDR[5]" SITE "G12" ;
LOCATE COMP "ADDR[6]" SITE "F12" ;
LOCATE COMP "ADDR[7]" SITE "E12" ;
IOBUF PORT "ADDR[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADDR[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADDR[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADDR[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADDR[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADDR[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADDR[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADDR[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "E" SITE "P7" ;
IOBUF PORT "E" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "EXTCS" SITE "P6" ;
IOBUF PORT "EXTCS" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "MISO" SITE "N4" ;
IOBUF PORT "MISO" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "MSCK" SITE "M4" ;
LOCATE COMP "MOSI" SITE "P13" ;
IOBUF PORT "MOSI" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "MSCK" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "NSS[0]" SITE "P3" ;
LOCATE COMP "NSS[1]" SITE "J12" ;
IOBUF PORT "NSS[0]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "NSS[1]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "RS" SITE "J14" ;
IOBUF PORT "RS" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "BLANK" SITE "J13" ;
IOBUF PORT "BLANK" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
LOCATE COMP "IRQ[0]" SITE "K2" ;
LOCATE COMP "IRQ[1]" SITE "K3" ;
IOBUF PORT "IRQ[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "IRQ[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "NMI" SITE "N5" ;
IOBUF PORT "NMI" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "RESET" SITE "L3" ;
IOBUF PORT "RESET" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "RW" SITE "N7" ;
IOBUF PORT "RW" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "TVOUT[0]" SITE "P8" ;
LOCATE COMP "TVOUT[1]" SITE "N8" ;
IOBUF PORT "TVOUT[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "TVOUT[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "PWM" SITE "K13" ;
IOBUF PORT "PS2CLK" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "PS2DAT" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "PS2CLK" SITE "K12" ;
LOCATE COMP "PS2DAT" SITE "K14" ;
